* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  //background-color: #f1f1f1;
  padding: 80px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 20;
  z-index: 99;
}

.navmenutext {
  color: #000000;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
}

#back {
  background-color: red;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media (max-width: 560px) {
  #navbar {
    overflow: hidden;
    //background-color: #f1f1f1;
    padding: 0px 10px;
    transition: 0.4s;
    position: fixed;
    width: 50%;
    top: 20;
    z-index: 99;
  }
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 20px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}


body {
	padding-top: 60px;
}
nav {
  .navbar-brand {font-size: 30px;}
	.navbar-toggle {margin: 13px 15px 13px 0;}
	a {
		font-size: 18px;
		padding-bottom: 20px !important;
		padding-top: 20px !important;
    transition: all 0.3s ease;
	}
}