 <!--
 <div id="navbar"> 
      <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
          </div>
          <div class="col" style="margin-top:-50px">
              <img id="myImg" align="center" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="124" height="124">
          </div>
      </div>
      <div class="row">
          <div class="col" style="margin-top:10px">
            <img id="logoimg" id="myImg1" align="right" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="0" height="0">
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="navmenutext" class="col"><a href="#home">Home</a></div>
          <div class="navmenutext" class="col"><a href="#contact">FlagshipProgram</a></div>
          <div class="navmenutext" class="col"><a href="#about">Courses</a></div>
          <div class="navmenutext" class="col"><a href="#about">Our Team</a></div>
          <div class="navmenutext" class="col"><a href="#about">Contact Us <br> <h6 align="center" style="color:black; font-size: 10px;">8928290306</h6></a></div>
      </div>   
  </div>
  -->
  
  <nav class="navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
      <button style="margin-left:300px;" class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div id="navbar"> 
          <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
              </div>
              <div class="col" style="margin-top: 150px">
                  <img id="myImg" align="center" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="124" height="124">
              </div>
              
          </div>
          <div class="row" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
              <div class="col">
                <img id="logoimg" id="myImg1" align="right" src="./assets/7classeslogo.jpg" alt="Cinque Terre" width="0" height="0">
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="navmenutext" class="col"><a href="#">Home</a></div>
              <div class="navmenutext" class="col"><a href="#FlagshipProgram" onclick="myFunction()">FlagshipProgram</a></div>
              <div class="navmenutext" class="col"><a href="#Courses" onclick="myFunction()">Courses</a></div>
              <div class="navmenutext" class="col"><a href="#OurTeam" onclick="myFunction()">OurTeam</a></div>
              <div class="navmenutext" class="col"><a href="#ContactUs" onclick="myFunction()">ContactUs <br> <h6 align="center" style="color:black; font-size: 10px;">8928290306</h6></a></div>
          </div>   
        </div>
      </div>
</nav>
  