/* Start popup scss */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.open-button1 {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  z-index: 9;
}

.form-popup1 {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  background-color: white;
  margin-right: 380px;
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.form-container1 {
  background-color: white;
  margin-right: 80px;
  margin-left: -120px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
/* End Popup scss */

/* Tab css start*/
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #34adee;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #34adee;
    border-bottom:5px solid #34adee;
    padding:30px 25px;
}

.tab-content1{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #34adee;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
/* End Tab css */
body {
    font-family: "Lato", sans-serif;
    background-color: #34adee;
}

.headerback {
    background-color: white !important;
}

.mapalign {
  width:102%; 
  margin-left:-13px; 
  margin-bottom: 100px;
}

.navmenu  {
  color: black; 
  font-size: 18px;
  margin-right: 50px;
}

#imgsize {
  width:100px;
  height:140px;
}

.courseimg {
  margin-top: -200px;
}

.coursebck {
  background-color: lightgray;
}

.bannertext {
  /* Style for "Only 7 Stu" */
  height: 139px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 80px;
  font-weight: 400;
  /* Text style for "Only 7 Stu" */
  font-family: "PT Sans - Bold";
  font-weight: 700;
  margin-left: 50px;
}

.headertitletext {
  color: #34adee;
  font-family: "PT Sans";
  font-size: 80px;
  font-weight: 700;
}
.bannertopmrg {
  margin-top: -100px;
}

.paragraphText {
  color: #000000;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
}

.buttonText {
  color: #000000;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
}

.mediaumText {
  color: #363636;
  font-family: "PT Sans";
  font-size: 28px;
  font-weight: 700;
}

.numberSize {
  color: #34adee;
  font-family: "Chalkboard SE";
  font-size: 200px;
  font-weight: 700;
  text-align: center;
}

.ptext {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footertext1 {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.footertext2 {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.footertext3 {
  color: #000000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top:40px;
}
.ptextbold {
  color: #000000;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
}

.titletext {
  color: #000000;
  font-family: "PT Sans";
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}


.stitletext {
  color: #000000;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  
}
.lastbit {
  color: #000000;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 700;
}

.formTitle {
  color: #707070;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 700;
}

.popupformTitle {
  color: #34ADEE;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 700;
}

.formbutton {
  color: #000000;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}


.closeformbutton {
  color: #000000;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.closeTextBoxbutt {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  margin-left: 120px;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: 35px;
  margin-top: 20px;
}

.powaiTextBoxbutt {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  font-size: 20px;
  padding-right: 100px;
  padding-left: 100px;
  border: 2px solid #006598;
  border-radius: 35px;
  margin-top: 20px;
}

.HerapanaTextBoxbutt {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  font-size: 20px;
  padding-right: 80px;
  padding-left: 80px;
  border: 2px solid #006598;
  border-radius: 35px;
  margin-top: 20px;
}

.sendTextBoxbutt {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  margin-left: 300px;
  font-size: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: 35px;
}


.footerTitle {
  color: #707070;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  margin-top:60px;
  text-align: center;
}

.footerTitle1 {
  color: #707070;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  margin-top:60px;
  text-align: center;
}

.footerTitle2 {
  color: #707070;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  margin-top: 60px !important;
  text-align: center;
}

.navmenutext {
  color: #000000;
  font-family: "PT Sans";
  font-size: 25px;
  font-weight: 400;
}

/* Start Bootstrap 4 Header */
.masthead {
  height: 100vh;
  min-height: 800px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* End Bootstrap 4 Header */




.navmenu:hover {
  background-color: blue;
  padding-left: 15px;
  padding-right: 15px;
}


.imglogo {
  width: 120px;
  height: 110px;
}

.imglogo1 {
  width:500px;
  height: 700px;
  margin-top: -80px;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 0px;
  margin-left: 200px;
  color: black;
}

.butt {
  font-size: 18px;
  height: 70px;
  width: 250px;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #006598;
  border-radius: 20px;
  margin-left: -60px;
  margin-top: 50px;
  background-color: white !important;
}

.TextBoxbutt {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  margin-left: 220px;
  font-size: 30px;
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: 35px;
  margin-top: 20px;
}

.mrg1{
  margin-top: 50px;
}

.mrg{
  margin-top: 40px;
}

.mrg2{
  margin-top: 50px;
}
.butt1 {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  margin-left: 400px;
  font-size: 18px;
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: 25px;
}
.butt2 {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  margin-left: 390px;
  font-size: 18px;
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: 25px;
}

.tab-nav {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: -50px;
}

.tab-nav1 {
  background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #006598;
  border-radius: -50px;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  border: 0 none;
  margin-top: 5px;
  margin-bottom:20px;
  }

  .line {
    width: 90%;
    height: 4px;
    margin-top: 600px;
    background-color:gray;
  }

  .line1 {
    width: 90%;
    height: 4px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:gray;
  }

  .testseriseline{
    width: 90%;
    height: 4px;
    margin-top: 200px;
    margin-bottom: 100px;
    background-color:gray;
  }
   .line-cir {
      width: 75%;
      height: 1px;
      margin-top: 100px;
      margin-bottom: 100px;
      background-color:gray;
      margin-left: 140px;
   }

   .line-cir1 {
    width: 0%;
    height: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:gray;
 }

  #example2 {
    padding: 25px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 700px 700px;
  }

  #example {
    padding: 25px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 600px 600px;
  }

  #example3 {
    padding: 0px;
    margin-top: -40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 430px;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #example4 {
    padding: 0px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 650px 650px;
  }

  #example5 {
    padding: 0px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 750px 500px;
  }

  #example6 {
    padding: 0px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 750px 700px;
  }

  #example7 {
    padding: 0px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 500px 700px;
  }

  .sqr-boder {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 25px;
    margin-top: 100px;
  }

  .sqr span{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #34ADEE;
    vertical-align: middle;
    margin-top: -220px;

  }

  .sqr1 span{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #34ADEE;
    vertical-align: middle;
    margin-top: -220px;

  }

  .sqr2 span{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #34ADEE;
    vertical-align: middle;
    margin-top: -220px;

  }

  .sqr3 span{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #34ADEE;
    vertical-align: middle;
    margin-top: -220px;

  }

  .form-control {
    border: 2px solid gray;
    border-radius: 25px;
    margin-top: 15px;
  }

  .footer-mar {
    margin-top: 130px;
  }

  .footer-bottom {
    margin-top: 300px;
  }

/* --------- footer---------- */


.vl {
  border-right: 1px solid gray;
  height: 50px;
  margin-top: -100px;
  float: right;
  margin-right: 125px;
}

.vl2 {
  border-right: 1px solid gray;
  height: 100px;
  margin-top: -100px;
  float: right;
  margin-right: 125px;
}

.vl3 {
  border-right: 1px solid gray;
  height: 150px;
  margin-top: -100px;
  float: right;
  margin-right: 125px;
}

.vl4 {
  border-right: 1px solid gray;
  height: 200px;
  margin-top: -100px;
  float: right;
  margin-right: 125px;
}

.vll {
  border-right: 4px solid gray;
  height: 300px;
  margin-top: -10px;
  float: left;
  margin-left: 520px;
}

.para {
  margin-top: 60px;
  margin-left: 550px;
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D;
}

.col-lg-1 {
  width: 1.333% !important;
}

/* --------- footer---------- */

/* --------- footer---------- */

.vl-line {
  border-right: 1px solid gray;
  height: 20px;
  margin-top: -28px;
  margin-bottom: 43px;
}

.vll-line {
  border-right: 1px solid gray;
  height: 150px;
  margin-bottom: 100px;
  float: left;
}

.footer p {
margin: 0;
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D;
}

.col-lg-1 {
  width: 1.333% !important;
}

/* --------- footer---------- */


.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  //background: url(assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  //background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}

.big7{
  width:60%;
  height: 800px; 
  margin-left: -230px; 
  margin-top:65px;
}
.jambo {
  height: 320px; 
  margin-left: -73px; 
  margin-right: -73px; 
  margin-top: -55px;
}

.ebook {
  width: 100px;
  height: 140px;
}

.icon {
  padding-right:10px;
  width: 60px;
  height: 50px;
}
.icon1 {
  width: 50px;
  height:50px;
}
.iconimg {
  margin-top:40px;
  text-align: right;
}
.content {
  margin-top:60px;
  text-align: center;
}
#testseries {
  margin-top: 300px !important;
}
#testseries1 {
  margin-top: -100px !important;
}

.footermenu {
  margin-top: 100px;
  padding-bottom: 20px;
}

.imgsize {
  height:10px !important; 
  width:120px !important;
}

.ultrabitline{
  width: 90%;
  height: 4px;
  margin-top: 0px;
  margin-bottom: 100px;
  background-color:gray;
}


@media (max-width: 560px) {
  .ll {
    margin-left: 30px;
  }
  .footermenu {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .footertext1 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .footertext2 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin-top: -0px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .footertext3 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    margin-left: 280px;
  }
  .footerTitle1 {
    color: #707070;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    margin-top:-100px;
    
  }
  
  .footerTitle2 {
    color: #707070;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    margin-top: -160px !important;
    text-align: right;
    margin-right: 20px;
    
  }

  .lastbit {
    color: #000000;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
  }

  #testseries {
    margin-top: 150px !important;
  }
  #testseries1 {
    margin-top: -100px !important;
  }

  .imgsize {
    width: 60px;
    height: 90px;
    margin-left: -5px;
    margin-top: 5px;
  }

  .imglogo1 {
    width:300px;
    height: 500px;
    margin-top: -50px;
    margin-left: -30px;
  }
  .ebook {
    width: 200px;
    height: 240px;
    margin-left: 70px;
  }
  .iconimg {
    margin-top:20px;
    text-align: left;
  }
  .icon {
    padding-right:10px;
    width: 30px;
    height: 20px;
  }
  .icon1 {
    width: 20px;
    height:20px;
  }
  .title {
    color: #000000;
    font-family: "PT Sans";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  .logoimgmb {
    margin-left: 85px;
    margin-top: -536px;
  }
  .big7{
    width:90%;
    font-weight: 400;
    height: 350px; 
    margin-left: -20px; 
    margin-top:65px;
  } 
  .big71{
    width:90%;
    height: 350px; 
    margin-left: 40px; 
    margin-top: -400px;
  }

  #example3 {
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0% 0px;
    opacity: 0.9;
    filter: alpha(opacity=50);
  }

  .text-block {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
    color: black;
  }

  .bannertext {
    /* Style for "Only 7 Stu" */
    height: 50px;
    color: #000000;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: -340px;
  }
  
  .paragraphText {
    color: #000000;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 200;
    margin-left: -80px;
  }
  .paragraphText1 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    margin-top: -30px;
    margin-left: 30px;
  }

  .butt1 {
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
    margin-left: 110px;
    font-size: 10px;
    height: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #006598;
    border-radius: 25px;
  }
  .butt2 {
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
    margin-left: 100px;
    font-size: 10px;
    height: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #006598;
    border-radius: 25px;
  }

  .buttonText {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
  }

  #example2 {
    padding: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
  }
  .headertitletext {
    color: #000000;
    font-family: "PT Sans";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .extline {
    border-right: 2px solid gray;
  }
  .numberSize {
    color: #34adee;
    font-family: "Chalkboard SE";
    font-size: 100px;
    font-weight: 500;
    text-align: left;
  }

  .ptext {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    margin-left: 75px;
    text-align: left
  }

  .ptext1 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
    margin-left: 0px;
    text-align: center;
  }

  .ptext11 {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    margin-left: 0px;
    text-align: center;
  }
  
  .titletext {
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: -100px;
    margin-left: 75px;
  }
  .mediaumText {
    color: #363636;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  #example4 {
    padding: 0px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 300px 300px;
  }

  #example6 {
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
  }

  #example7 {
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px 400px;
  }
  #example5 {
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 350px 300px;
  }
  .imglogo {
    width: 120px;
    height: 110px;
  }
  
  .imglogo1 {
    width:300px;
    height: 400px;
    margin-left: 20px;
  }
  .para {
    text-align: center;
    margin-left: 50px !important;
    margin-top: -20px;
  }
  .ptextbold {
    color: #000000;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 60px;
  }
  .buttmb {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: #34adee;
    font-weight: 700;
  }
  .buttmb1 {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -50px;
    background-color: #34adee;
    font-weight: 700;
  }
  .buttmb2 {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -80px;
    background-color: #34adee;
    font-weight: 700;
  }
  .buttmb3 {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: -120px;
    background-color: #34adee;
    font-weight: 700;
  }

  .stitletext {
    color: #000000;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
  }

  .textstitle {
    color: #000000;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .vl_line {
  border-right: 5px solid gray;
  height: 100px;
  margin-top: 0px;
  float: right;
  margin-right: 200px;
  }

  .butt {
    font-size: 24px;
    padding-right: 0px;
    padding-left: 0px;
    border: 0px solid white;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: -100px;
    background:none !important;
  }

  .sqr-boder {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid gray;
    top: 0%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 25px;
    margin-top: 0px;
  }
  .texttop {
    margin-top: -55px;
    margin-left: -40px;
  }
  .mrg1{
    margin-top: 300px;
  }
  .mrg2{
    margin-top: 40px;
  }

  .formbutton {
    color: #000000;
    font-family: "PT Sans";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .TextBoxbutt {
    background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);
    margin-left: 70px;
    font-size: 30px;
    height: 50px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #006598;
    border-radius: 35px;
    margin-top: 200px;
  }
  .mapalign {
    width:102%; 
    margin-left:-13px; 
    margin-top: -350px;
  }

  .footerTitle {
    color: #707070;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    margin-top: 40px;
  }

  .navmenutext {
    color: #000000;
    font-family: "PT Sans";
    font-size: 10px;
    font-weight: 400;
  }

  #imgsize {
    width: 60px;
    height: 90px;
    margin-left: -5px;
    margin-top: 5px;
  }
  .bannertopmrg {
    margin-top: 0px;
  }
  .testseriseline{
    width: 90%;
    height: 4px;
    margin-top: 0px;
    margin-bottom: 40px;
    background-color:gray;
  }
  .ultrabitline{
    width: 90%;
    height: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:gray;
  }

}




/* If the screen size is 1100px wide or less, hide the element */
@media only screen and (min-width: 1100px) {
  img.big71 {
    display: none;
  }
  img.logoimgmb {
    display: none;
  }
  p.paragraphText1 {
    display: none;
  }
  hr.extline {
    display: none;
  }
  p.vl_line {
    display: none;
  }
  p.ptext11 {
    display: none;
  }
  div.hidefooter {
    display: none;
  }
}


/* If the screen size is 565px wide or less, hide the element */
@media only screen and (max-width: 565px) {
  p.paragraphText {
    display: none;
  }
  hr.line1 {
    display: none;
  }
  hr.line11 {
    display: none;
  }
  p.vll {
    display: none;
  }
  div.sqr {
    display: none;
  }
  div.sqr1 {
    display: none;
  }
  div.sqr2 {
    display: none;
  }
  div.sqr3 {
    display: none;
  }
  p.vl4 {
    display: none;
  }
  p.vl3 {
    display: none;
  }
  p.vl2 {
    display: none;
  }
  p.vl {
    display: none;
  }
  hr.line-cir {
    display: none;
  }
  h3.formTitle {
    display: none;
  }
  div.jumbotron {
    display: none;
  }
  div.hide {
    display: none;
  }
}




























.tabsdemoCenterTabs {
  /*
 * Style tab width to align with the MD spec:
 * https://material.io/archive/guidelines/components/tabs.html#tabs-specs
 */ }
  .tabsdemoCenterTabs md-tab-item {
    min-width: 72px; }
  @media (min-width: 960px) {
    .tabsdemoCenterTabs md-tab-item {
      min-width: 160px;
    } 
  }