<app-header></app-header>
<div id="example3" style="background-image:url('./assets/Education-OpportunitySmall.jpg')">
  <img  src="./assets/7.png" class="big7">
  <img class="logoimgmb" src="./assets/MasterLogopng.PNG" alt="Cinque Terre" width="175" height="160">
  <img  src="./assets/rev-7.png" class="big71">
</div>

<div class="text-block">
  <h1 class="bannertext">Only 7 Students In One Batch</h1>
  <p align="center" class="paragraphText">Because Success need Personal Attention</p>
  <p class="paragraphText1">An Initiative by IIT, NIT and Super30 Alumni</p>
  <hr class="ll">
  <button align="center" type="button" class="butt1 buttonText"  onclick="openForm()">Enroll Now</button><br><br>
  <!-- Start Model-->
  <div class="form-popup" id="myForm">
    <form  class="form-container">
      <h3 align="center" class="popupformTitle">We Will Connect You Soon!</h3>
      <div class="container">
        <div class="row">
        <div class="col-sm-6">         
          <input id="name" type="student" class="form-control" placeholder="Full Name" name="std">
          <input type="contact" class="form-control" placeholder="Mobile Id" name="cot">
          <input type="email" id="email" class="form-control" placeholder="Email ID" name="email">
        </div>
        <div class="col-sm-6">
          <label for="comment"></label>
          <textarea style="margin-top:-15px;" class="form-control" rows="6" id="comment">Message</textarea>
          <!--<button type="button" class="btn btn-primary" class="sendTextBoxbutt formbutton" onclick="closeForm()" >Send</button>-->
          <button type="button" class="btn btn-primary" class="closeTextBoxbutt closeformbutton" onclick="closeForm()">Send</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <!-- End Model -->
  <button align="center" type="button" class="butt2 buttonText" onclick="omyTest()">Seats Available</button>
  <!-- Start seat avl -->
  <div class="form-popup" id="myTest">
    <form  class="form-container1">
      <h3 class="popupformTitle">Foundation Courses (2019-20)</h3>
      <hr>
      <div class="container">
        <div class="row">
          <!-- Start popup Tab -->
          <div class="container">
            <div class="row">
              <!-- Nav tabs -->
              <div class="col-sm-6"> 
                <ul class="nav nav-tabs">
                  <li class="nav-item" class="powaiTextBoxbutt closeformbutton">
                    <a class="nav-link active" data-toggle="tab" href="#Powai">Powai</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="nav nav-tabs">
                  <li class="nav-item" class="HerapanaTextBoxbutt closeformbutton">
                    <a class="nav-link" data-toggle="tab" href="#Herapana">Herapana</a>
                  </li>
                </ul>
              </div>
            </div>
            <br><br>
            <!-- Tab panes -->
            <div class="tab-content1">
              <div id="Powai" class="container tab-pane active"><br><br>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-3">
                      <p>JEE (Board+JEE)</p>
                    </div>
                    <div class="col-sm-6">
                      <div class="powaiTextBoxbutt">11th</div>
                    </div>
                    <div class="col-sm-3">
                      
                    </div>
                  </div>
                </div>
                </div>
                <div id="Herapana" class="container tab-pane fade"><br>
                 <p>hhh</p>
                </div>
              </div>
              </div>
          <!-- End Courses Tab -->
          <!-- End popup Tab -->
          <button type="button" class="btn btn-primary" class="closeTextBoxbutt closeformbutton" onclick="cmyTest()">close</button>
        </div>
      </div>
    </form>
  </div>
  <!-- End Seat avl -->
</div>

<div class="container" id="FlagshipProgram">
  <div id="example2" class="row" style="background-image:url('./assets/flag.png')">
    <hr class="extline">
    <div class="col-sm-12" class="bannertopmrg" id="FlagshipProgram1">
      <h1 class="headertitletext">2:4:1 Flagship Program</h1>
      <hr>
      <h3 class="mediaumText">A revolutionising method created with the aim of ensuring maximum productivity 
        and the best practice of student capabilities synergising teacher and student efforts.
      </h3>
      <hr class="extline">
    </div>
    <div class="col-sm-4"  style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">2</h1>
      <h3 class="titletext">Test/Assessment</h3>
      <p class="ptext">With regular test and assessments
                  conducted in each subject, the students'
                  performance is kept under observation
                  so as to determine the need for greater
                  attention or practice.
      </p>
    </div>
    <div class="col-sm-4" style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">4</h1>
      <h3 class="titletext">Lecture</h3>
      <p class="ptext">Lectures are conducted at the institution
                  following the goal of providing individual
                  attention to every student using our 7: 1
                  Student-Teacher Ration.
      </p>
    </div>
    <div class="col-sm-4"  style="padding-left:60px; padding-right:60px;">
      <h1 class="numberSize">1</h1>
      <h3 class="titletext">One to One Teaching</h3>
      <p class="ptext">The last part of our flagship model includes a
                  slot reserve for one to one teaching where
                  students are encourage to ask questions
                  related to the lecture and/or subject.
      </p>
    </div>
  </div>
  <hr class="line1" id="Courses">
  <div class="row" id="example4" style="background-image:url('./assets/dart .png');">
    <div class="col-sm-12" id="Courses1">
      <h1 class="headertitletext">Ultra- Bit Program</h1>
      <hr class="extline">
      <h3 class="mediaumText">A strategy for the topper to help them complete at level 1UP.
      </h3>
      <hr>
    </div>
    <div class="col-sm-1">
        <img src="./assets/rotation.png" class="imglogo1" alt="Cinque Terre"  >
    </div>
    <div class="col-sm-11">
      <div class="col-lg-12  col-md-6 col-sm-2 col-xs-1">
        <p class="vll"></p>
        <p class="para ptextbold">Students in Ultra-Bit Program are usually fast
                          learners who simply needs practice to do better
                          what they already know. Our professional teachers
                          have spent years in mastering the art of
                          teaching and offer students the best learning
                          experience with their acquired knowledge.
                          
                          <br><br><hr class="extline"><br>
                          Precision Learning is the art of maximising learning
                          for the student as per his/her capabilities.
                          It takes experienced faculty to judge the
                          capabilities of child and tailor his study routine
                          so as to gain maximum productivity.
        </p>
      </div>
    </div>
  </div>
  <hr class="ultrabitline">
  <div class="row" id="example5" style="background-image:url('./assets/hand.png');">
    <div class="col-sm-12">
      <h1 class="headertitletext">Last-Bit Program</h1>
      <hr class="extline">
      <h3 class="mediaumText">Get the guarantee of positive result in just 90 days!</h3>
      <hr>
    </div>
    <hr class="line-cir">
    <div class="col-sm-3">
      <p class="vl"></p>
      <div class="sqr">
        <span></span>
      </div>
      <div style="margin-top:0px;">
        <div class="buttmb">
          <h4 class="lastbit">Maths & Science Focus</h4>
        </div>
        <p class="ptext ptext1">Our experts will help your child easily
                      learn concepts with deeper explanations
                    to ensure clarity.</p>
      </div>
      <p class="vl_line"></p>
    </div>
    <div class="col-sm-3">
      <p class="vl2"></p>
      <div class="sqr1">
        <span></span>
      </div>
      <div style="margin-top:40px;">
        <div class="buttmb1">
          <h4 class="lastbit">Test Series</h4>
        </div>
        <p class="ptext ptext1">Test Series and regular assessment
                    ensure proper understanding of the
                    child's performance and capabilities.
        </p>
      </div>
      <p class="vl_line"></p>
    </div>
    <div class="col-sm-3">
      <p class="vl3"></p>
      <div class="sqr2">
        <span></span>
      </div>
      <div style="margin-top:80px;">
        <div class="buttmb2">
          <h4 class="lastbit">Tailor Made By IIT Faculty</h4>
        </div>
        <p class="ptext ptext1">The Last-Bit Program has been tailor-made by
                    these professionals to provide conceptual clarity
                    fo the students after a through understanding of
                    syllabus requirements by the formal education
                    system.
        </p>
      </div>
      <p class="vl_line"></p>
    </div>
    <div class="col-sm-3">
      <p class="vl4"></p>
      <div class="sqr3">
        <span></span>
      </div>
      <div style="margin-top:120px;">
        <div class="buttmb3">
          <h4 class="lastbit">1 to 1 Teaching</h4>
        </div>
        <p class="ptext ptext1">In this program child get individual
                        attention from our top professionals
                        in the filed of Math & Science.
        </p>
      </div>
    </div>
  </div>
  <hr class="line1">
  <div class="row" id="example6" style="background-image:url('./assets/artboard.png');">
    <div class="col-sm-12">
      <h1 class="headertitletext">Test Series</h1>
      <hr class="extline">
      <h3 class="mediaumText">Multiple test series to in calculate the habit of formal reading, writing and comprehension.</h3>
      <hr>
    </div>
    <div class="col-sm-3" id="testseries">
      <div class="sqr-boder" id="testseries1">
        <img src="./assets/calculator.png" alt="Cinque Terre" id="imgsize">
        <div class="texttop">
           <button type="button" class="butt stitletext">Basic Math Test Series</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="testseries">
      <div class="sqr-boder" id="testseries1">
        <div>
          <img src="./assets/live.png" alt="Cinque Terre" id="imgsize">
        </div>
        <div class="texttop">
          <button type="button" class="butt stitletext">Live Test Series</button>
        </div> 
      </div>
    </div>
    <div class="col-sm-3" id="testseries">
      <div class="sqr-boder" id="testseries1">
        <img src="./assets/medal.png" alt="Cinque Terre" id="imgsize">
        <div class="texttop">
          <button type="button" class="butt stitletext">Olympaid Test Series</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="testseries">
      <div class="sqr-boder" id="testseries1">
        <img src="./assets/stair.png"  alt="Cinque Terre" id="imgsize">
        <div class="texttop">
          <button type="button" class="butt stitletext">Foundation Tests</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="testseriseline">
  <div class="row" id="example7" style="background-image:url('./assets/brain.png');">
    <div class="col-sm-12">
      <h1 class="headertitletext">Counselling</h1>
      <hr class="extline">
      <h3 class="mediaumText">Even in difficult times, you must learn to trust yourself...</h3>
      <hr>
    </div>
    <div class="col-sm-5">
      <img src="./assets/book.png" class="ebook" alt="Cinque Terre">
      <h1 class="title">Education Counselling</h1>
      <hr class="extline">
      <h3 class="stitletext">Career Counselling</h3>
      <hr class="line11">
      <p class="ptext ptext1">Educational Counselling helps inform students about the various options they
        have in the future in according with their skills and area of interest.</p>
      <h3 class="stitletext">Memory Building</h3>
      <hr class="line11">
      <p class="ptext ptext1">Through Simple mental exercises and home routines.</p>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <img src="./assets/heart.png" class="ebook" alt="Cinque Terre">
      <h1 class="title">Behavioural Counselling</h1>
      <hr class="extline">
      <h3 class="stitletext">Stress Management</h3>
      <hr class="line11">
      <p class="ptext ptext1">Observing a positive student study environment is top priority at the institution.</p>
      <h3 class="stitletext">Habit Formation</h3>
      <hr class="line11">
      <p class="ptext ptext1">Right study habits from tender ages makes students stand out from their peers.</p>
    </div>
  </div>
  <hr class="line1">
  <!-- Start Courses Tab -->
  <div class="container">
      <h1 class="headertitletext">COURSES</h1>
      <h4 class="headertitletext">Foundation Courses</h4>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#CBSE">CBSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#ICSE">ICSE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#HSC">HSC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#IGCSE">IGCSE</a>
          </li>
      </ul>
    
    <!-- Tab panes -->
    <div id="OurTeam">
      <div class="tab-content" id="OurTeam1">
        <div id="CBSE" class="container tab-pane active"><br><br>
          <div align="center">
              <img src="./assets/images/20170528202850!Cbse-logo.png" width="220px" height="250px" alt="Cinque Terre">
          </div>
         <div class="coursebck">
           <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">CBSE is one of the most preferred boards in the country and the reasons are many. CBSE is behind
              maintaining uniformity among all the students across India by prescribing NCERT books. The best
              feature of this board is they have a wholesome syllabus and well-structured examinations.</h5>
            <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
            <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
         </div>
        </div>
        <div id="ICSE" class="container tab-pane fade"><br>
          <div align="center">
              <img src="./assets/images/icse-png.png" width="260px" height="250px" alt="Cinque Terre">
          </div>
         <div class="coursebck">
           <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
              The ICSE board is governed by the ICSE Council. The Council was mainly set up to assure the
              adoption of its examinations into the educational system of India.CISCE balances with an equal
              focus on language, arts, and science. The board syllabi cover all the fields in various subjects with
              equal importance.</h5>
            <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
            <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
         </div>
        </div>
        <div id="HSC" class="container tab-pane fade"><br>
          <div align="center">
              <img src="./assets/images/ssc-pune-logo.png" width="260px" height="250px" alt="Cinque Terre">
          </div>
         <div class="coursebck">
           <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
              Secondary School Certificate, commonly known as SSC, is a public examination taken by students
              in Maharashtra, Madhya Pradesh, Gujarat, Andhra Pradesh and Goa in India, Bangladesh, and
              Pakistan, after successfully completing at least ten years of schooling. It is followed by the Higher
              Secondary (School) Certificate (HSC). SSC is an equivalent to GCSE in England.</h5>
            <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
            <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
         </div>
        </div>
        <div id="IGCSE" class="container tab-pane fade"><br>
          <div align="center">
              <img src="./assets/images/Cambridge_Assessment_logo.png" width="260px" height="250px" alt="Cinque Terre">
          </div>
         <div class="coursebck">
           <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
              Developed by Cambridge International Examination (CIE) in 1988, IGCSE is a very popular English
              language curriculum. The focus of the IGCSE curriculum is to offer a wide range of options to
              learners with different types of abilities, including students whose first language is not English.</h5>
            <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
            <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
         </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Courses Tab -->


    <!-- Start Advance Courses Tab -->
    <div class="container">
        <h1 class="headertitletext">COURSES</h1>
        <h4 class="headertitletext">Foundation Courses</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#CBSE">CBSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ICSE">ICSE</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#HSC">HSC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#IGCSE">IGCSE</a>
            </li>
        </ul>
      
      <!-- Tab panes -->
      <div id="OurTeam">
        <div class="tab-content" id="OurTeam1">
          <div id="CBSE" class="container tab-pane active"><br><br>
            <div align="center">
                <img src="./assets/images/20170528202850!Cbse-logo.png" width="220px" height="250px" alt="Cinque Terre">
            </div>
           <div class="coursebck">
             <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">CBSE is one of the most preferred boards in the country and the reasons are many. CBSE is behind
                maintaining uniformity among all the students across India by prescribing NCERT books. The best
                feature of this board is they have a wholesome syllabus and well-structured examinations.</h5>
              <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
              <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
           </div>
          </div>
          <div id="ICSE" class="container tab-pane fade"><br>
            <div align="center">
                <img src="./assets/images/icse-png.png" width="260px" height="250px" alt="Cinque Terre">
            </div>
           <div class="coursebck">
             <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
                The ICSE board is governed by the ICSE Council. The Council was mainly set up to assure the
                adoption of its examinations into the educational system of India.CISCE balances with an equal
                focus on language, arts, and science. The board syllabi cover all the fields in various subjects with
                equal importance.</h5>
              <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
              <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
           </div>
          </div>
          <div id="HSC" class="container tab-pane fade"><br>
            <div align="center">
                <img src="./assets/images/ssc-pune-logo.png" width="260px" height="250px" alt="Cinque Terre">
            </div>
           <div class="coursebck">
             <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
                Secondary School Certificate, commonly known as SSC, is a public examination taken by students
                in Maharashtra, Madhya Pradesh, Gujarat, Andhra Pradesh and Goa in India, Bangladesh, and
                Pakistan, after successfully completing at least ten years of schooling. It is followed by the Higher
                Secondary (School) Certificate (HSC). SSC is an equivalent to GCSE in England.</h5>
              <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
              <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
           </div>
          </div>
          <div id="IGCSE" class="container tab-pane fade"><br>
            <div align="center">
                <img src="./assets/images/Cambridge_Assessment_logo.png" width="260px" height="250px" alt="Cinque Terre">
            </div>
           <div class="coursebck">
             <h5 style="margin-left:20px;margin-right:20px; margin-top:180px; padding-top:40px;" align="center">
                Developed by Cambridge International Examination (CIE) in 1988, IGCSE is a very popular English
                language curriculum. The focus of the IGCSE curriculum is to offer a wide range of options to
                learners with different types of abilities, including students whose first language is not English.</h5>
              <img src="./assets/images/Path_10.png" width="100%" height="200px" alt="Cinque Terre">
              <img class="courseimg" src="./assets/images/Path_9.png" width="100%" height="200px" alt="Cinque Terre">
           </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Advance Courses Tab -->

  <div class="row">
    <div class="col-sm-12" style="padding-left:40px; padding-right:40px;">
      <h1 class="headertitletext">OUR TEAM</h1>
      <hr class="extline">
      <p class="ptext11">
                The exceptionally outstanding results of 7 Classes will be due to the fact that
                the institute has deployed best faculty of the country who are continuously
                putting efforts not only to maintain the quality of the content but also
                ensuring that the content should be taught in an easy to understand
                language. Faculty panel comprises of highly renowned and experienced
                faculty members, from top IITs, NITs and from SUPER30. They are well known
                all over India for their easy and effective teaching methodologies. They are
                supported by a large team of teaching experts, content developers and
                researchers. For any educational institution, the most important asset is the
                quality of faculty. The faculty at 7 Classes which is drawn from academia and
                industry offers a combination of diverse talents and rich experience.
      
      </p>
      <div class="hide">
        <h3 class="mediaumText">Individual, We Are One Drop.... Together, We Are An Ocean.
          - Ryunosuke Satoro</h3>
      </div>

      <!-- start carosel -->
      <!--
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/Education-OpportunitySmall.jpg">
            </div>
            <div class="carousel-item">
              <img src="./assets/Education-OpportunitySmall.jpg">
            </div>
            <div class="carousel-item">
              <img src="./assets/Education-OpportunitySmall.jpg">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      --> 
      <!-- End carosel -->
      <!-- strat multi image carosel-->
          <div class="top-content">
            <div class="container-fluid">
              <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                <img src="assets/img/backgrounds/1.jpg" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/2.jpg" class="img-fluid mx-auto d-block" alt="img2">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/3.jpg" class="img-fluid mx-auto d-block" alt="img3">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/4.jpg" class="img-fluid mx-auto d-block" alt="img4">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/5.jpg" class="img-fluid mx-auto d-block" alt="img5">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/6.jpg" class="img-fluid mx-auto d-block" alt="img6">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/7.jpg" class="img-fluid mx-auto d-block" alt="img7">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <img src="assets/img/backgrounds/8.jpg" class="img-fluid mx-auto d-block" alt="img8">
              </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
              </div>
            </div>
          </div>
          
      <!-- end multi imageb-->
    </div>
  </div>
  <hr class="line1">
  <div  id="ContactUs1">
    <h1 id="ContactUs" class="headertitletext">CONTACT US</h1>
  </div>
  <hr class="extline">
  <div class="jumbotron jambo">
  </div>
  <div class="row" style="padding-left:40px; padding-right:40px; margin-top: -240px;">
    <div class="col-sm-4">
      <h3 align="center" class="formTitle">Send Us a Message</h3>
      <div class="form-group mrg1" id="formContent">
        <!--<input id="name" type="student" class="form-control" [(ngModel)]="studentName" placeholder="Full Name" name="std">-->
        <input id="name" type="student" class="form-control" [(ngModel)]="studentName" placeholder="Full Name" name="std">
      </div>
      <div class="form-group mrg2">
        <!--<input type="contact" class="form-control" [(ngModel)]="studentAge"  placeholder="Mobile Id" name="cot">-->
        <input type="contact" class="form-control" [(ngModel)]="studentAge" placeholder="Mobile Id" name="cot">
      </div>
      <div class="form-group mrg2">
        <!--<input type="email" class="form-control" id="email" [(ngModel)]="studentAddress" placeholder="Email ID" name="email">-->
        <input type="email" id="email" class="form-control" [(ngModel)]="studentAddress" placeholder="Email ID" name="email">
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-7">
      <div class="form-group mrg" style="padding-bottom: 40px;">
        <label for="comment"></label>
        <textarea class="form-control" [(ngModel)]="message" rows="10" id="comment">Message</textarea>
        <!--<button type="button" (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress" class="TextBoxbutt formbutton">Send</button>-->
        <button type="button" (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress || !message" class="btn btn-primary" class="TextBoxbutt formbutton">Send</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <img class="mapalign" src="./assets/map.png" alt="Cinque Terre">
    </div>
  </div>
</div>
<!--
  firebase page
-->
<!--
<div class="container">
 
  <h1 style="margin-top: 25px;">
    {{title}}
  </h1>
 
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="studentName" placeholder="Name">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="studentAge" placeholder="Age">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="studentAddress" placeholder="Address">
    </div>
    <div class="col-md-3">
      <button type="button" (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress" class="btn btn-primary">+
        Create Student</button>
    </div>
  </div>
-->
  <!-- Start extra feature of firebase -->
  <!--
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;" *ngFor="let item of students">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
          <h5 class="card-title">{{item.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Age: {{item.Age}} Years</h6>
          <p class="card-text">Address: {{item.Address}}</p>
          <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
          <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
        </div>
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Edit Age">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">
                </div>
              </div>
            </div>
 
            <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
            <a href="#" class="card-link" (click)="UpdateRecord(item)">Update</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
 -->
<!-- End extra feature of firebase -->
<!--
</div>
-->



<!-- Start footer  -->    
<div class="container-fluid" style="background-image: linear-gradient(to right, #7AF1B7 ,#34ADEE);">
  <div class="row">
		<div class="col-sm-2">
      <h2 class="footerTitle">Follow Us</h2>
      <div class="iconimg">
          <a href="https://www.facebook.com/7classes"><img class="icon" src="./assets/iconfinder_facebook_circle_black_107153.png" alt="Cinque Terre"></a>
          <a href="https://plus.google.com/u/0/b/104629643285575433991/104629643285575433991?_ga=2.185567918.600604273.1498655937-2142835567.1498484581"><img class="icon" src="./assets/4-layers.png" alt="Cinque Terre"></a>
          <a href="https://twitter.com/classes_7"><img src="./assets/3-layers.png" alt="Cinque Terre" class="icon1"></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <p class="footer-mar footertext1">Shop No.1049, First floor,
          Heera Panna Shopping Centre,
          Powai, Mumbai-76
      </p>
    </div>
    <div class="col-sm-2">
        <h2 class="content" class="footerTitle1">Centers</h2>
    </div>
    <div class="col-sm-2">
      <p class="footer-mar footertext2">H/O - 104 - Bhawani Industrial Estate,
          Near EXCEL Tower, IIT Market
          Powai, Mumbai - 76
      </p>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <h2 class="footerTitle2">Contact</h2>
      <p class="footertext3">+91 9769 100305
          contact@7classes.com
      </p>
    </div>
  </div>
 
  <div class="row footermenu">
      <div class="col"></div>
      <div style="margin-left:-20px" class="col"><a class="navmenutext" href="#" onclick="myFunction1()">Home</a></div>
      <div align="left" class="col"><a class="navmenutext" href="#FlagshipProgram1" onclick="myFunction1()">FlagshipProgram</a></div>
      <div align="center" class="col"><a class="navmenutext" href="#Courses1" onclick="myFunction1()">Courses</a></div>
      <div align="left" class="col"><a class="navmenutext" href="#OurTeam1" onclick="myFunction1()">OurTeam</a></div>
      <div align="left" class="col"><a class="navmenutext" href="#ContactUs1" onclick="myFunction1()">ContactUs</a></div>
      <div class="col"></div>
  </div>   
</div>